.product-box {
  display: grid; /* Grid düzenini etkinleştir */
  grid-template-columns: repeat(5, 1fr); /* Her satırda 5 ürün olacak şekilde ayarla */
  gap: 16px; /* Ürünler arasındaki boşluk */
  justify-content: center; /* Ürünleri ortala */
  margin: 0 auto; /* Orta hizalama */
}

.product-card {
  background-color: #fff; /* Beyaz arka plan */
  border: 1px solid #ddd; /* Gri sınır */
  border-radius: 8px; /* Yuvarlatılmış köşeler */
  padding: 10px; /* İç boşluk */
  text-align: center; /* Metni ortala */
  box-sizing: border-box; /* Sınır ve iç boşluğu kapsa */
  width: 100%; /* Kartın genişliği, grid hücresine uyacak şekilde ayarla */
  position: relative; /* Konumlandırma için */

}

.product-card img {
  width: 100%; /* Kartın genişliğine uyacak şekilde ayarla */
  max-width: 150px; /* Maksimum genişlik ayarla */
  height: auto; /* Yüksekliği otomatik olarak ayarla */
  object-fit: cover; /* Görüntü oranını koruyarak sığdırma */
}

.button-container {
  position: relative; /* Mesajın butonun üstünde konumlanabilmesi için */
}

.added-to-cart-message {
  position: absolute; /* Mesajı butonun üstüne yerleştir */
  left: 50%; /* Ortalamak için */
  transform: translateX(-50%); /* Ortalamayı sağla */
  background-color: #122015; /* Yeşil arka plan rengi */
  color: #6b706c; /* Yeşil metin rengi */
  padding: 5px 10px; /* İç boşluk */
  border-radius: 5px; /* Yuvarlatılmış köşeler */
  font-size: 0.875rem; /* Küçük metin boyutu */
  display: inline-block; /* Satır içi kutu */
  opacity: 1;
  transition: opacity 0.5s ease; /* Görünürlük geçiş efekti */
}


/* View Details Butonu Stili */
.button-style-view {
  background-color: #2196F3; /* Mavi arka plan rengi */
  color: #fff; /* Beyaz metin rengi */
  border: none; /* Sınır yok */
  border-radius: 4px; /* Köşe yuvarlaklığı: 4px */
  padding: 10px 20px; /* İç boşluk: 10px üst ve alt, 20px sağ ve sol */
  cursor: pointer; /* Tıklanabilir olduğunu belirtir */
  font-size: 1rem; /* Font boyutu: 1rem */
  text-align: center; /* Metni ortalar */
  transition: background-color 0.3s ease; /* Arka plan rengi değişimi için geçiş efekti */
}

.button-style-view:hover {
  background-color: #1976D2; /* Hover durumunda daha koyu mavi arka plan rengi */
}

.button-style-add {
  background-color: #2196F3; /* Mavi arka plan rengi */
  color: #fff; /* Beyaz metin rengi */
  border: none; /* Sınır yok */
  border-radius: 4px; /* Köşe yuvarlaklığı: 4px */
  padding: 10px 20px; /* İç boşluk: 10px üst ve alt, 20px sağ ve sol */
  cursor: pointer; /* Tıklanabilir olduğunu belirtir */
  font-size: 1rem; /* Font boyutu: 1rem */
  text-align: center; /* Metni ortalar */
  transition: background-color 0.3s ease; /* Arka plan rengi değişimi için geçiş efekti */
}

.button-style-add:hover {
  background-color: #1976D2; /* Hover durumunda daha koyu mavi arka plan rengi */
}
