.product-box {
  display: grid; /* Grid düzenini etkinleştir */
  grid-template-columns: repeat(5, 1fr); /* Her satırda 5 ürün olacak şekilde ayarla */
  gap: 16px; /* Ürünler arasındaki boşluk */
  justify-content: center; /* Ürünleri ortala */
  margin: 0 auto; /* Orta hizalama */
  max-width: 1000px; /* Maksimum genişlik (isteğe bağlı) */
}

.product-card {
  background-color: #fff; /* Beyaz arka plan */
  border: 1px solid #ddd; /* Gri sınır */
  border-radius: 8px; /* Yuvarlatılmış köşeler */
  padding: 10px; /* İç boşluk */
  text-align: center; /* Metni ortala */
  box-sizing: border-box; /* Sınır ve iç boşluğu kapsa */
  width: 100%; /* Kartın genişliği, grid hücresine uyacak şekilde ayarla */
  position: relative; /* Konumlandırma için */
}

.product-card img {
  width: 100%; /* Kartın genişliğine uyacak şekilde ayarla */
  max-width: 150px; /* Maksimum genişlik ayarla */
  height: auto; /* Yüksekliği otomatik olarak ayarla */
  object-fit: cover; /* Görüntü oranını koruyarak sığdırma */
}

.button-container {
  position: relative; /* Mesajın butonun üstünde konumlanabilmesi için */
}

.added-to-cart-message {
  position: absolute; /* Mesajı butonun üstüne yerleştir */
  top: -30px; /* Butonun üstüne biraz kaydır */
  left: 50%; /* Ortalamak için */
  transform: translateX(-50%); /* Ortalamayı sağla */
  background-color: #d4edda; /* Yeşil arka plan rengi */
  color: #155724; /* Yeşil metin rengi */
  padding: 5px 10px; /* İç boşluk */
  border-radius: 5px; /* Yuvarlatılmış köşeler */
  font-size: 0.875rem; /* Küçük metin boyutu */
  display: inline-block; /* Satır içi kutu */
  opacity: 1;
  transition: opacity 0.5s ease; /* Görünürlük geçiş efekti */
}


/* components/Pagination.css */
.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.pagination-button {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 50%;
  padding: 10px 15px;
  margin: 0 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.pagination-button.active {
  background-color: #115185;
  color: #fff;
}

.pagination-button:hover {
  background-color: #ddd;
}

.pagination-button:disabled {
  background-color: #e0e0e0;
  cursor: not-allowed;
}
