.button-style {
  background-color: rgb(18, 18, 133); /* Mavi arka plan rengi */
  color: white; /* Beyaz metin rengi */
  border: none; /* Sınır yok */
  padding: 10px 20px; /* İç boşluk */
  font-size: 16px; /* Yazı boyutu */
  border-radius: 5px; /* Köşeleri yuvarlat */
  cursor: pointer; /* Fare imlecini işaretçi yap */
  transition: background-color 0.3s ease; /* Geçiş efekti */
}

.button-style:hover {
  background-color: darkblue; /* Üzerine gelindiğinde renk değişikliği */
}
button.add-to-cart-button{
  background-color: #0d3c6b;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
