/* Genel Stiller */
body {
  background-image: url('C:\Users\idris\Desktop\react\my-project\src\assets\img.1.png');
  color: #1a1919; /* Metin rengi: koyu gri */
  margin: 0; /* Margin sıfır, tüm kenar boşluklarını kaldırır */
  padding: 0; /* Padding sıfır, iç boşlukları kaldırır */
  font-family: Arial, sans-serif; /* Varsayılan font ayarı: Arial ve sans-serif */
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'stylish', sans-serif; /* Başlıklar için stilize font */
  margin: 0; /* Başlıkların marginini sıfırlar */
}

/* Header Stili */
.header {
  display: flex; /* Flexbox düzeni kullanır */
  flex-direction: column; /* Elemanları dikeyde hizalar */
  align-items: center; /* Elemanları yatayda ortalar */
  padding: 10px 20px; /* Üst ve alt 10px, sağ ve sol 20px padding */
  position: relative; /* Konumlandırmayı mümkün kılar */
}

.header h1 {
  color: #353030; /* Başlık rengi: koyu gri */
  font-size: 3rem; /* Başlık font boyutu */
  margin: 0; /* Başlıkların marginini sıfırlar */
  text-align: center; /* Başlığı ortalar */
}

.header-content {
  display: flex; /* Flexbox düzeni kullanır */
  flex-direction: column; /* Elemanları dikeyde hizalar */
  align-items: center; /* Elemanları yatayda ortalar */
}
/* sign in ve sign up kodları*/
.auth-buttons {
  position: absolute; /* Mutlak konumlandırma */
  top: 10px; /* Üstten 10px uzaklık */
  right: 20px; /* Sağdan 20px uzaklık */
  display: flex; /* Flexbox düzeni kullanır */
  gap: 10px; /* Butonlar arasındaki boşluk */

}

/* Arama Formu */
.search-form {
  display: flex; /* Flexbox düzeni kullanır */
  justify-content: center; /* Arama formunu ortalar */
  margin-top: 20px; /* Üstten 20px boşluk bırakır */
}

.search-input {
  padding: 10px; /* İç boşluk: 10px */
  font-size: 1rem; /* Font boyutu: 1rem */
  border: none; /* Sınır yok */
  border-radius: 5px; /* Köşe yuvarlaklığı: 5px */
  width: 300px; /* Arama kutusunun genişliği */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Hafif gölge efekti */
}
